:root {
  --primary: #fcaf17;
  --primary-light: #ffc759;
  --primary-dark: #db9814;
  --secondary: #2e2e2e;
  --secondary-light: #4a4a4a;
  --secondary-dark: #1d1d1d;
  --secondary-alt: #3d3d3d;
  --text-secondary: #f6f6f6;
  --text-secondary-dark: #c9c9c9;
  --text-primary: #1d1d1d;
  --alt: #ff9273;
  --border-primary: #9a6b0e;
}

.title {
  color: var(--text-secondary-dark);
  font-family: "Arial";
  font-size: x-large;
}

.color1 {
  color: var(--text-secondary-dark);
}

.color2 {
  color: var(--primary);
}

.p1 {
  font-family: "Arial";
  font-size: medium;
}

.div1 {
  margin: 20px;
}

.task-bar {
  width: 100vw;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-bottom: solid 1px#4a4a4a;
  box-shadow: 0 0 5px #3d3d3d;
}

.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 20px;
}

.form {
  width: 100vw;
  margin-top: 30px;
  text-align: center;
}

.submit {
  margin-left: 10px;
  border: solid 1px #fcaf17;
  background-color:#333333;
}

.submit:hover {
  border-color: #ffc759;
  color: #f6f6f6;
}

.submit:focus {
  border-color: #fcaf17;
  color: #c9c9c9;
  outline: none;
}

input {
  background-color:#4a4a4a;
  color: #c9c9c9;
  border-radius: 5px;
  border: none;
  height: 32px;
}

::-webkit-file-upload-button {
  height: 32px;
  background-color:#fcaf17;
  color:#2e2e2e;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

::-webkit-file-upload-button:hover {
  background-color:#ffc759;
}

::-webkit-file-upload-button:focus {
  background-color:#fcaf17;
  outline: none;
}

input:hover {
  background-color:#4a4a4a;
}

input:focus {
  background-color:#3d3d3d;
  outline: none;
}

body {
  background-color: var(--secondary-dark);
  margin: 0px;
  color: #333333;
  overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
}